body{
	font: 15px/20px "Lucida Grande", Tahoma, Verdana, sans-serif;
}

footer{
  position: fixed;
  color: white;
    bottom: 0;
    width:100%;
    left: 0;
}

.icon-bar {
  width: 100%;
  background-color: #527881;
  overflow: auto;
}

.icon-bar2 {
  width: 100%;
  background-color: #527881;
  overflow: auto;
}

.icon-bar a {
  float: left;
  width: 9%;
  text-align: center;
  padding: 12px 0;
  transition: all 0.3s ease;
  color: white;
  font-size: 16px;
}

.icon-bar2 a {
  float: right;
  width: 10%;
  text-align: center;
  padding: 12px 0;
  transition: all 0.3s ease;
  color: white;
  font-size: 36px;
}

.icon-bar a:hover {
  background-color: #0f1885;
}

.active {
  background-color: #00064d;
}

.container {
  position: relative;
}

.text-block {
  margin: 30px;
  position: absolute;
  top: 20px;
  left: 20px;
  background-color: #ffffff;
   background: rgb(256, 256, 256); /* Fallback color */
  background: rgba(256, 256, 256, 0.6); /* Black background with 0.5 opacity */
  color: black;
  padding-left: 20px;
  padding-right: 20px;
}

